@font-face {
  src: local('Yeseva')
  url('../fonts/YesevaOne.woff') format('woff'),
  url('../fonts/YesevaOne.woff2') format('woff2');
  font-family: 'Yeseva One';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: local('Lato')
  url('../fonts/latoregular.woff') format('woff'),
  url('../fonts/latoregular.woff2') format('woff2');
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: local('GintiumBB')
  url('../fonts/genbkbasr.woff') format('woff');
  font-family: 'GentiumBB';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: local('opensansbold')
  url('../fonts/opensansbold.woff') format('woff');
  font-family: 'OpensansBB';
  font-weight: bold;
  font-style: normal;
}

$yaseva : normal normal 'Yeseva One';
$lato: normal normal 'Lato';
$gentium: normal bold 'GintiumBB';
$opensansbold: normal bold 'opensansbold';
$color-text-one: rgb(204, 153, 0);
$color-text-two: rgb(250, 250, 250);
// $border-menu-bckrd: url("../img/style/border-bckrd.png");


.header {
  background-image: url("../img/style/bckrd-header.png");
  background-position: center;
  background-size: cover;

  .navigation  {
    display: flex;
    width: 100%;
    height: 110px;
    justify-content: space-around;
    position: relative;

   .navbar {
      background-color: transparent;
    }

    .mynavbar-brand {
      position: absolute;
      top: -10%;
      left: -5%;
      padding-top: 0;
    }

    @media screen and (max-width: 576px) {
      .mynavbar-brand {
        top: 15%;
      }
      .mynavbar-brand img {
        width: 60%;
        height: 60%;
            }
    }

    .mynavbar-collapse {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 110px;

        .mynavbar-nav {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 5%;
        }

        .mynav-item {
          position: relative;
          margin-left: 30px;
          height: 100%;
          display: flex;
          align-items: center;
          font-family: 'GentiumBB';
          font-weight: bold;
          font-style: normal;
          font-size: 21px;
          color: white;
          height: 100%;
        }

        .mynav-item:hover::before {
          position: absolute;
          top: 0;
          content: "";
          height: 3px;
          width: 100%;
          background-color: $color-text-two;
          opacity: 0.85;
          transition: 400ms;
        }

        .mynav-item a {
          text-decoration: none;
          color: inherit;
        }
    }
    .myheader-icon-social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100px;
        top: 39%;
        left: 94%;

        @media screen and (max-width: 1200px) {
          width: 80px;
        }

        @media screen and (min-width: 577px) and (max-width: 992px) {
          left: 90%;
        }

        @media screen and (max-width: 576px) {
          width: 90px;
          left: 70%;
          }
      }
    }

    .myheader-text-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 140px 0 145px 0;

          @media screen and (max-width: 576px) {
            padding: 140px 0 45px 0;
          }
    }

    .header-text span {
        color: white;
        font-family: 'Yeseva One';
        font-weight: normal;
        font-style: normal;
        font-size: 90px;

          @media screen and (min-width: 767px) and (max-width: 992px) {
            font-size: 60px;
          }
          @media screen and (min-width: 577px) and (max-width: 768px) {
            font-size: 40px;
          }
          @media screen and (max-width: 576px) {
            font-size: 25px;
          }
    }

    .header-text .second-row {
        text-align: center;
      }

    .header-img {
        margin: 20px 0 30px 0;
    }

    .header-buttom {
      display: flex;
      align-items: center;

      .to-table,
      .to-menu {
        font-family: 'Lato';
        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        border: 1px solid;
        border-radius: 0;
        width: 230px 55px;
        padding: 15px 40px;
      }

      .to-table{
        margin-right: 30px;
        border-color: black;
        background-color: rgba(0, 0, 0 , 0.5)
      }

      .to-menu {
        margin-left: 30px;
        border-color: white;
        background-color: rgba(255, 255, 255, 0.5)
      }

      @media screen and (min-width: 576px) and (max-width: 992px) {
        .to-table,
        .to-menu {
          font-size: 14px;
          border: 1px solid;
          border-radius: 0;
          width: 130px 55px;
          padding: 15px 40px;
        }

        .to-table{
          margin-right: 20px;
          border-color: black;
        }

        .to-menu {
          margin-left: 20px;
          border-color: white;
        }
      }

      @media screen and (max-width: 576px) {
        flex-direction: column;
        .to-table,
        .to-menu {
          font-size: 12px;
          border: 1px solid;
          border-radius: 0;
          width: 200px 105px;
          padding: 15px 40px;
          margin: 10px 0;
        }

        .to-table{
          border-color: black;
        }

        .to-menu {
          border-color: white;
        }

    }
  }
}

.right_food {
  background-image: url("../img/style/bckrd-one.png");
  background-position: center;
  background-size: cover;
  padding: 105px 0 115px 0;
  position: relative;


      .right_food_text {
        display: flex;
        flex-direction: column;
      }

      .right-food-text-top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        }

      .right_food_header {
        font-size: 36px;
        color: $color-text-one;

        @media screen and (max-width: 576px) {
          font-size: 24px;
          }
        }

      .right_food_descript {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 30px 0 50px 0;
          span {
            font-size: 16px;
            padding: 0 37% 0 21%;
            text-align: center;
            @media screen and (max-width: 576px){
              font-size: 14px;
              padding:  0;
              }
            }
        }

      .right-food-bottom {
          margin-left: 5%;
        }

      .right_food_img {
          position: absolute;
          top: -20%;
          right: -3%;

             @media screen and (max-width: 993px) and (max-width: 1200px) {
               width: 85%;
               height: 85%;
               right: 0;
             }
             @media screen and (max-width: 992px) {
               width: 65%;
               height: 75%;
               top: 5%;
               right: -5%;
             }
             @media screen and (max-width: 768px) {
               width: 50%;
               height: 50%;
               top: 5%;
               right: 0;
             }
             @media screen and (max-width: 576px){
               display: none;
              }
           }
}

.ingredients {
  background-image: url("../img/style/bckrd-ingredients.png");
  background-position: center;
  background-size: cover;
  padding: 105px 0 115px 0;
  display: flex;
  justify-content: flex-end;


  .ingredients-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 555px;
    padding: 80px 80px 75px  80px;
    background-color: rgba( 0, 0, 0, 0.5);

    @media screen and (max-width: 576px) {
      padding: 50px;
    }

    .ingredients-text {
      color: $color-text-two;
      display: flex;
      flex-direction: column;
      align-items: center;

     .ingredients-text-header {
      font-size: 36px;
      @media screen and (max-width: 576px) {
        font-size: 21px;
      }
     }

     .ingredients-text-description {
      font-size: 16px;
      @media screen and (max-width: 576px) {
        font-size: 14px;
        text-align: left;
        padding-left: 30px;
      }
      }
    }

    .ingredients-img {
      display: flex;
      justify-content: space-between;
      padding-top: 70px;
      width: 100%;

      @media screen and (max-width: 576px) {
        display: flex;
        justify-content: space-between;
      }

      img {
        padding: 30px 0 20px 0;
        @media screen and (max-width: 576px) {
          width: 85%;
        }
      }
   }
  }
}

.menu {
  background-image: url("../img/style/bckrd-menu.png");
  background-position: center;
  background-size: cover;
  padding: 105px 0;
  color: $color-text-one;

  .menu-container {
    position: relative;

    .menu-box {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

      .menu-row-one ,
      .menu-row-two {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
  }

  .menu-header-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Yeseva One';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
  }

  .menu-text-box {
    padding-left: 0;

    li {
        list-style-type: none;
        margin: 20px 0 ;
        padding: 0 10px;

      .menu-first-row {
         display: flex;
         justify-content: space-between;
         border-bottom: 1px solid rgba(204, 153, 0, 0.5);
         font-family: 'Yeseva One';
         font-weight: normal;
         font-style: normal;
         font-size: 21px;
         padding: 10px 0;
         margin-bottom:  10px ;
      }

      .menu-sab {
         font-family: 'Lato';
         font-weight: normal;
         font-style: normal;
         font-size: 16px;
         color: black;
      }
    }

    .special {
      position: relative;
      border: 1px solid rgba(204, 153, 0, 0.5);
    }

    .special:before {
      content:"Special";
      color: $color-text-two;
      background-image:  url("../img/style/border-bckrd.png");
      background-repeat: repeat-y repeat-x;
      position: absolute;
      top: -25%;
      right: -0.1%;
      width: 75px;
      height: 22px;
      padding: 0 10px;
      font-family: 'Lato';
      font-weight: normal;
      font-style: normal;
      font-size: 14px;

      @media screen and (max-width: 1200px) {
        top: -20%;
      }
      @media screen and (max-width: 768px) {
        top: -26%;
      }
      @media screen and (max-width: 450px) {
        top: -20%;
        right: -0.2%;

      }
    }
  }

}

.guest-reviews {
  background-image: url("../img/style/bckrd-review.png");
  background-position: center;
  background-size: cover;
  padding: 100px 0;

  .myrow {
    display: flex;
    justify-content: center;
  }

    .myowl-carousel {
      display: flex;
      align-items: center;
      border: 1px solid black;
      background-color: rgba(0, 0, 0, 0.5);
      flex-direction: column;
      justify-content: center;
      height: 555px;
      padding: 80px 85px 100px 85px;
      color: $color-text-two;
      line-height: 1.5;
      @media screen and (max-width: 567px) {
        padding: 20px;
      }

        .guest-reviews-text {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .guest-reviews-header {
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            font-size: 36px;
            @media screen and (max-width: 768px) {
              font-size: 24px;
            }
          }
        }

        .guest-reviews-description {
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: center;

          .guest-reviews-description-top {
            font-size: 25px;
            text-align: left;
            padding: 0 10px;

            @media screen and (max-width: 768px) {
                font-size: 16px;
            }
            @media screen and (max-width: 567px) {
                   font-size: 12px;
            }
          }
        }

          .guest-reviews-description-bottom {
            font-size: 18px;
            @media screen and (max-width: 768px) {
              .guest-reviews-description-bottom span {
                font-size: 14px;
              }
            }
          }
        }
}

.contact-form {
  display: flex;
  background-image: url("../img/style/bckrd-one.png");
  background-position: center;
  background-size: cover;
  padding: 100px 0 105px 0;

  .contact-form-img {
    display: flex;
    justify-content: space-between;

    .contact-form-img-box {
      width: 270px;
      margin-right: 30px;

      img {
        width: 270px;
        height: 100%;
        @media screen and (max-width: 1200px) {
            width: 250px;
          }
      }

      @media screen and (max-width: 1200px) {
        width: 250px;
        margin-right: 30px;
      }
      @media screen and (max-width: 992px) {
        display:  none;
      }
    }
  }

  .contact-form-text {
    display: flex;
    flex-direction: column;

    .contact-form-text-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 36px;
      color: $color-text-one;
      @media screen and (max-width: 768px) {
        font-size: 30px;
      }
    }

    .contact-form-text-description {
      text-align: center;
      padding: 50px 0;
    }

    form {
      display: flex;
      flex-direction: column;

      .form-first-row ,
      .form-second-row {
        display: flex;
        justify-content: space-around;
        position: relative;

        label {
          position: relative;
          font-weight: bold;
          font-style: normal;
          color: $color-text-one;
          margin-top: 20px;
          .img-calendar {
            position: absolute;
            top: 45%;
            right: 15%;
          }
        }

        input {
          width: 180px;
          height: 30px;
          font-family: 'OpensansBB';
          font-weight: bold;
          font-style: normal;
          font-size: 14px;
          background-color: rgba(250, 250, 250, 0.75);
          .active {
            border: 1px solid $color-text-two;
          }
          input[type='data'] {
            font-family: 'OpensansBB';
            font-weight: italic;
            font-style: normal;
            font-size: 14px;
          }
        }
        #party-number {
          font-family: 'OpensansBB';
          font-weight: italic;
          font-style: normal;
          font-size: 14px;
          width: 180px;
          height: 30px;
          background-color: rgba(250, 250, 250, 0.55);
        }
      }

      .book-now-box {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .book-now {
          width: 200px;
          height: 35px;
          background-color: $color-text-one;
          color: $color-text-two;
          border-radius: 0;
          border: none;
        }
      }
    }
  }
}

.footer {
  background-color: #191919;
  padding: 60px 0 70px 0;

  .footer-content {
      display: flex;
        @media screen and (max-width: 767px) {
          flex-direction: column;
        }
  }

  .footer-text-area {
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     color: $color-text-two;
     text-align: center;

    .footer-text-box-header {
      display: flex;
      flex-direction: column;

      span {
        font-size: 21px;
      }

      .footer-text-box-description {
        display: flex;
        flex-direction: column;
        text-align: center;

        .footer-text-row {
          font-size: 16px;
        }
      }
    }

    .hr-footer {
      width: 200px;
      margin: 15px 0;
      @media screen and (max-width: 767px) {
      margin-top: 20px;
      }
    }
  }
}

.modal-window-chef {
  background-image: url("../img/style/bckrd-header.png");
  background-position: center;
  background-size: cover;
  color: $color-text-two;

  .mymodal-header {
    text-align: center;
  }

  .my-modal-tittle {
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-size: 36px
  }

  .my-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'GentiumBB';
    font-weight: normal;
    font-style: normal;

    .img-modal {
      display: flex;
      justify-content: center;
    }

    .text-modal {
      text-align: left;
    }
  }

  .my-button {
    width: 100px;
    border: 1px solid white;
    background-color: rgba(250, 250, 250, 0.7);
  }
}

.modal-window-ingredient {
    background-color: rgba(0, 0, 0, 0.7);
    color: $color-text-two;
    .img-modal {
      display: flex;
      justify-content: center;
    }
}
