//Переменные
//Переменные BOOTSTRAP ниже принтим переменные которые будут переопределять раздел _variables в bootstrap пример приведен на кнопках

//Примари button перекрашиваем в красный
$btn-primary-color:              #fff;
$btn-primary-bg:                 red;
$btn-primary-border:             #c60505;

//MAKEUP переменные
//Main colors
$text-font: #c00;

// links

$link-color:                 #2557a9;
$link-hover-color:           #c00;


//Header colors
$header_bg: #ddd;
//Social
$header_soc_text: #000;
$header_soc_bg: #fff;
$header_soc_border: #fff;
$header_soc_hover: #fff;
$header_soc_bg_hover: #999;
$header_soc_border_hover: #999;
//Search 
//Search ico
$header_search_ico_text: #637180;
$header_search_ico_bg: #EEFBFF;
$header_search_ico_border: #EEFBFF;
$header_search_ico_hover: #EEFBFF;
$header_search_ico_bg_hover: #637180;
$header_search_ico_border_hover: #637180;
//Search input
$header_search_input_text: #999;
$header_search_input_bg: #fff;
$header_search_input_border: #7f9db9;
//Phone
$header_phone: #000;
$header_phone_hover: #000;
$header_phone_icon: #000;

//Menu colors
$menu_link: #000;
$menu_link_bg: #fff;
$menu_link_active: $link-hover-color;
$menu_link_bg_active: #fff;
$menu_link_hover: $link-hover-color;
$menu_link_bg_hover: #fff;

$dropdowns_border: 1px solid rgb(229, 229, 229);
    
$menu_link_dropdown: #000;
$menu_link_dropdown_bg: #f5f5f5;
$menu_link_dropdown_active: #000;
$menu_link_dropdown_bg_active: #f5f5f5;
$menu_link_dropdown_hover: #000;
$menu_link_dropdown_bg_hover: #f5f5f5;

//Menu toggler
$menu_toggler_link: #fff;
$menu_toggler_link_bg: #525E6C;
$menu_toggler_link_active: #fff; //togle active
$menu_toggler_link_bg_active: #000;
$menu_toggler_link_focus: #000;  //togle focus
$menu_toggler_link_bg_focus: #FAFAFA;
    
$menu_toggler_link_dropdown: #fff;
$menu_toggler_link_dropdown_bg: #525E6C;
$menu_toggler_link_dropdown_active: #E03018;  //togle dropdown active
$menu_toggler_link_dropdown_bg_active: #FAFAFA;
$menu_toggler_link_dropdown_focus: #E03018;  //togle dropdown focus
$menu_toggler_link_dropdown_bg_focus: #FAFAFA;

//Footer colors
$footer_bg_color: #ddd;
$footer_text_color: #000;
$footer_link_color: #000;
$footer_link_color_hover: red;
$footer_copy_bg_color: #eee;
$footer_copy_link_color: #000;
$footer_copy_link_color_hover: red;
//Footer soc
$footer_soc_text: #fff;
$footer_soc_bg: #637180;
$footer_soc_border: #637180;
$footer_soc_text_hover: #637180; //on hover
$footer_soc_bg_hover: #fff; //on hover
$footer_soc_border_hover: #fff; //on hover