.mmenu_header {
    display: none;
}
.mmenu_header
{
  background: $menu_link_bg;
	font-size: 16px;
	font-weight: bold;
	color: $menu_link;
	line-height: 40px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: 40px;
	padding: 0 20px 0 50px;
}
.mmenu_header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.mmenu_header .bars
{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
  text-align: center;
  line-height: 44px;
  color: $menu_link;
}
.mmenu_header .fa {
  font-size: 22px;
  color: $menu_link;
}
.mm-clear:after, .mm-clear:before, .mm-close:after, .mm-close:before {
  box-sizing: content-box;
}
.mmenu_header_menu {
  float: left;
}
.mmenu_header_logo_block {
  width: 100%;
  display: block;
  height: 80%;
  text-align: center;
  line-height: 36px;
}
.mmenu_header_logo {
    height: 100%;
    background: #fff;
    padding: 1px;
    border-radius: 5px;
}
.mmenu_header_phone {
    float: right;
}
.mmenu_header_phone a {
    color: $menu_link;
    text-decoration: none;
}
.mmenu_header_phone a:hover {
    color: red;
}
.mmenu{
    display: none;
}
// style theme
.mm-menu .mm-navbar .mm-title {
    color: #000;
    font-weight: bold;
}
.mm-menu .mm-navbar .mm-listview li a {
    color: #333;
}
.mm-menu .mm-navbar-bottom .fa {
    font-size: 26px;
    color: $header_soc_text;
    background: $header_soc_bg;
    border: $header_soc_border;
    transition: 1s all;
}
.mm-menu .mm-navbar-bottom .fa:hover {  
    color: $header_soc_hover;
}
.mm-menu {
    background: $menu_link_bg;
    color: $menu_link;
}
.mm-menu .mm-navbar a, .mm-menu .mm-navbar>* {
    color: $menu_link;
}
.mm-menu .mm-listview>li .mm-arrow:after, .mm-menu .mm-listview>li .mm-next:after {
    border-color: $menu_link;
}
.mm-menu .mm-listview>li a {
    font-family: "GothamPro-bold", sans-serif;
    font-size: 14px;
}
.mm-menu .mm-btn:after, .mm-menu .mm-btn:before {
    border-color: $menu_link;
}