//Оформление для страницы новостей
.news-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.news-item-pic img {
    width: 100%;
}
.pagination_block{
    text-align: center;
}